table {
    color: #756474;
    font-weight: 300;
    font-size: 20px;
}

table tr {
    border-bottom-width: 0;
}

table thead tr {
    border-bottom: 1px solid #756474;
}


table th {
    font-weight: 300;
}