<section class="dashboard__page">
    <app-nav></app-nav>
    <main>
        
     <section class="dashboard__statistics">
        <div class="row">
                <div class="col m4">
                    <div class="card">
                        <div class="card-content">
                            <span class="statistic__number">9000</span>
                            <span class="statistic__label">Mensal</span>
                        </div>
                    </div>
                </div>
    
                <div class="col m4">
                    <div class="card">
                        <div class="card-content">
                            <span class="statistic__number">150</span>
                            <span class="statistic__label">Semanal</span>
                        </div>
                    </div>
                </div>
    
                <div class="col m4">
                    <div class="card">
                        <div class="card-content">
                            <span class="statistic__number">190</span>
                            <span class="statistic__label">Diário</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <app-orders></app-orders>
    </main>
</section>
