.item-cardapio input{
    width: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #ccc;
    border: none;
    text-align: center;
}
body{
    background: #fff;
}
.ion-page.show-page{
    background: #fff;
}
.maisemenos{
    float: right;
}
.total-cardapio{
    margin-top: 159px;
    text-align: right;
    border-bottom: 0;
    font-size: 35px;
}